  .container
  {
    display: flex;
    flex-direction: column;
  }

  .navigation
  {
    display: flex;
    justify-content: space-between;
  }
  
  .main
  {
    position: relative;
  }

  .footer
  {
    background: #999;
    margin-bottom: 0;
    position: relative;
  }

  a
  {
    text-decoration: none;
  }